<nav id="navigation">
        <div id="logo">
            <img src="/static/images/Logo.png" alt="Logo">
        </div>
        <div id="navLinks">
            <ul type="none">
                <li><a href="/">Home</a></li>
                <li><a href="/" onclick="send_alert()">About</a></li>
                <li><a href="/" onclick="send_alert()">Buy</a></li>
                <li><a href="/" onclick="send_alert()">Sell</a></li>
                <li><a href="/" onclick="send_alert()">Rent</a></li>
            </ul>
        </div>
        <div id="loginbtn">
            <button id="login">Login</button>
        </div>
        <div id="signupbtn">
            <button id="signup">Sign up</button>
        </div>
        <script>
            function send_alert(){
                alert("Log in")
            }
        </script>
    </nav>